name: camping_osm_navi
description: A navigation app for a specific campground using OpenStreetMap.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '^3.4.0'

dependencies:
  flutter:
    sdk: flutter

  geolocator: ^12.0.0 # Du kannst dies bei Bedarf sp채ter anpassen
  flutter_map: ^6.1.0  # <- Zur체ckgesetzt
  flutter_map_cancellable_tile_provider: ^2.0.0 # <- Zur체ckgesetzt
  vector_map_tiles: ^7.3.1 # <- Zur체ckgesetzt
  vector_tile_renderer: ^5.2.1 # Behalte deine aktuelle Version oder passe an
  http: ^1.2.1
  latlong2: ^0.9.1
  collection: ^1.18.0
  provider: ^6.1.2
  flutter_tts: ^3.8.5
  flutter_dotenv: ^5.1.0
  path_provider: ^2.1.3
  path: ^1.9.0
  logging: ^1.2.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - .env 
    - assets/data/export.geojson
    - assets/data/export_kamperland.geojson
    - assets/data/zuhause_umgebung.geojson