name: camping_osm_navi
description: A navigation app for a specific campground using OpenStreetMap.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '^3.4.0'

dependencies:
  flutter:
    sdk: flutter

  geolocator: ^12.0.0

  # flutter_map und verwandte Pakete
  flutter_map: ^6.1.0 # Beibehaltung für Stabilität, bis ggf. gezieltes Update erfolgt
  flutter_map_cancellable_tile_provider: ^2.0.0 # Passend zu flutter_map ^6.1.0
  
  # --- NEUE PAKETE für Vektor-Kacheln ---
  vector_map_tiles: ^4.2.3
  http: ^1.2.1
  # --- ENDE NEUE PAKETE ---

  latlong2: ^0.9.1
  collection: ^1.18.0
  provider: ^6.1.2
  flutter_tts: ^3.8.5 # Hinzugefügt für Text-to-Speech

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/data/export.geojson
    - assets/data/export_kamperland.geojson
    - assets/data/zuhause_umgebung.geojson